.title {
    color:#00FFFF;
    text-align:center;
}
.items {
    background-color:#FFEFD5;
    height: 50px;
    width: 450px;
    font-size: 30px;
    padding: auto;
    margin: 10px;
    
}
.list {
    background-color: #C0C0C0;
    height: 200px;
    width: 200px;
    float: left;
   padding: 10px;
   margin: 10px;
   border: 10px;

}
.img {
    height: 219px;
    width: 210px;
    padding: 4px;
    margin: 10px
    
}
.freeze {
    font-size:45px;
}
.text {
    text-align: center;
}